.junction {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #333;
  cursor: default; // ⬅️ Змінили з pointer
  z-index: 15;
  pointer-events: none; // ⬅️ Вимкнули взаємодію
}
