* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  /* padding: 20px; */
  background-color: #f0f0f0;
}

#root {
  /* max-width: 1200px; */
  margin: 0 auto;
}
